#container-of-screen {
  position:relative;
  top:70px;
  display:flex;
  flex-flow:row;
  z-index:50;
  padding:20px 10px;
  justify-content:center;
}

section#container-of-screen {
  padding:0px;
}

#main-container {
  width:490px;
  padding:10px;
}

#main-container > .white-box-container {
  padding:10px;
  box-shadow:1px 1px 5px rgb(194, 192, 192);
}

#what-you-thinking-input {
  padding:12px;
  width:85%;
  margin-left:10px;
}

#container-to-what-user-is-thinking {
  display:flex;
  flex-flow:row;
  border-bottom:1px solid var(--inputBorderGray);
  padding-bottom:10px;
}

#container-of-user-interactions {
  display:flex;
  flex-flow:row;
  padding-top:10px;
}

.container-of-interaction {
  padding:10px;
  color:var(--darkerGray);
  white-space:nowrap;
  cursor:pointer;
  border-radius:6px;
}

.container-of-interaction > i {
  font-size:18px;
}

#container-of-mensage-to-create-room {
  display:inline-block;
  padding:10px;
  color:var(--mainBlue);
  font-weight:600;
  border-radius:20px;
  border:2px solid var(--inputBorderGray);
  cursor:pointer;
  font-size:16px;
}

#container-of-mensage-to-create-room > i {
  color:var(--mainPurple);
  font-size:18px;
}

#have-no-friends-message {
  text-align:center;
  color:var(--darkerGray);
}

#have-no-friends-message > div:first-child {
  font-size:20px;
  font-weight:600;
  margin-bottom:3px;
}

#have-no-friends-message > button:last-child {
  font-size:14px;
  margin-top:20px;
}

#have-no-friends-message.white-box-container {
  padding:40px;
}

#chat-box {
  position: fixed;
  right: 30px;
  bottom:10px;
  background: white;
  width: 345px;
  height: 450px;
  z-index: 98;
  box-shadow: 1px 1px 5px grey;
  border-radius: 6px;
}

.chat-header {
  padding:5px;
  box-shadow:1px 1px 10px #e2e0e0;
}

#name-and-pic-of-friend {
  display:flex;
  flex-flow:row;
  align-items:center;
  justify-content:center;
  font-size:14px;
  padding:5px;
  border-radius:6px;
}

#name-and-pic-of-friend > div {
  width:120px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  margin:0px 5px;
}

#chat-icone-bar {
  display:flex;
  flex-flow:row;
  align-items:center;
  justify-content:center;
}

#chat-area {
  margin-top:5px;
  height:326px;
  overflow-y:scroll;
  overflow-x:hidden;
  padding:15px 0px;
}

#input-to-send-message-container {
  padding:10px;
  display:flex;
  flex-flow:row;
  align-items:center;
  box-shadow:1px 1px 10px #a7a5a5;
}

#input-to-send-message-container > input {
  margin-right:5px;
  width:325px;
}

#input-of-chat {
  padding:10px;
}

.client-ballon-container, .friend-chat-container {
  margin-top:7px;
  width:100%;
}

.client-ballon-container {
  text-align:right;
  padding-right:5px;
}

.friend-chat-container {
  text-align:left;
  padding-left:5px;
}

.client-ballon, .friend-ballon {
  display:inline-block;
  border-radius:20px;
  padding:10px;
  font-size:16px;
  word-wrap:break-word;
  white-space:normal;
  max-width:90%;
}

.client-ballon {
  color:white;
  background:var(--mainBlue);
}

.friend-ballon {
  background:var(--mainBackground);
}

#friend-request-container.white-box-container {
  padding:20px;
}

#friend-request-container > .big-text {
  font-size:20px;
}

.friend-request-box {
  border-radius:6px;
  padding:20px;
  display:flex;
  flex-flow:row;
  align-items:center;
  margin-top:10px;
}

.friend-request-box .user-image {
  width:50px;
}

.friend-request-box > div {
  width:85%;
}

.friend-request-box .main-button {
  margin-top:2px;
  padding:10px;
  font-size:14px;
  width:100%;
}

.nav-bar {
  position:fixed;
  top:60px;
  left:0px;
  padding:15px 10px;
  width:320px;
  display:flex;
  flex-flow:column;
  overflow-x:hidden;
  overflow-y:hidden;
  height:100%;
  z-index:80;
}

.nav-bar:hover {
  overflow-y:scroll;
}

.nav-bar > a {
  position:relative;
  white-space:nowrap;
  padding:12px 10px;
  font-weight:600;
  width:100%;
  font-size:14px;
  cursor:pointer;
  text-decoration:none;
  color:black;
  display:flex;
  flex-flow:row;
  align-items:center;
}

.nav-bar > a:hover {
  background:#dbdada;
}

.nav-bar > a:active {
  background:#cacaca;
}

.nav-bar img {
  width:30px;
  text-align:center;
  margin-right:7px;
}

.float-circle {
  position:fixed;
  right:30px;
  bottom:30px;
  background:white;
  box-shadow:1px 1px 10px #757474;
  border-radius:100px;
  font-size:1.2rem;
  padding:11px 10px 11px 13px;
  z-index:80;
  text-align:center;
  cursor: pointer;
}

.float-circle:hover {
  filter:brightness(95%);
}

.float-circle:active {
  filter:brightness(90%);
}

@media (max-width:1077px) {
  .nav-bar { display:none; }
}